@keyframes slide-right {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .motion-preset-slide-right {
    animation: slide-right 1s ease-in-out;
  }
  